<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <script src="/javascripts/jquery-1.12.3.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="center-block text-center">
                    <img id="logo" style="display: none;" src="/images/logo.png" alt="Personal Cloud Vault" />
                </div>
                <div id="loginpan" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login to your Personal Cloud Vault</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="/login" accept-charset="UTF-8" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>

                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function(){
        var width = $('#loginpan').width();
        var prop = $('#logo').width()/width;

        $('#logo').width(width);
        $('#logo').height($('#logo').height()*prop);
        $('#logo').fadeIn(1);
        $('#logo').css('display', 'inline-block');
        
    });
    </script>
</body>
</html>