<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <script src="/javascripts/jquery-1.12.3.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<div class="container">
    <h1 class="center-block">Your daemon is under update</h1>
    <p>
        Your CryptoBullion wallet is actually updating, to update it must compile the daemon from source, so it can take some times.<br/>
        Please be patient, your daemon is coming back shortly, refresh this page to see if it's ready.
    </p>
</div>
</body>
</html>